<body>

	<h1>Contact Me</h1>
	<p>You can contact me via phone, email or you can even send us mail!</p>
	<p>Email Adress: augustinnegrier@outlook.fr</p>
	<p>Phone: +49 283 65392022</p>
	<p>Adress: Rheingaustrasse 58, Fahrrad Stadt 73528 Germany</p>

</body>